@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-background: #141414;
  --color-text: #FDF5E6;
  --font-sans: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  
}

@layer base {

  * {
    text-wrap: pretty;
  }


  html {
    line-height: 1.7; 
    letter-spacing: -0.015em; 
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.03em;
    line-height: 1.2;
    font-weight: 700; 
  }
}


@media print {
  :root {
    --color-background: #ffffff !important; 
    --color-text: #000000 !important; 
  }


  body {
    background-color: white !important;
    color: black !important;
    font-size: 11pt !important; 
  }

  
  header button,     
  .no-print,         
  nav, footer {
    display: none !important;
  }

  a {
    text-decoration: none !important;
    color: black !important;
    font-weight: bold;
  }

 section {
    break-inside: auto !important; /* Was 'avoid' */
  }

  
  .job-entry {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }
}
