---
import { User } from "@lucide/astro";
---

<div
  class="w-10 h-10 rounded-full bg-green-400/20 flex items-center justify-center text-green-400"
  aria-hidden="true"
>
  <User size={20} />
</div>
