---
import BaseHead from "../components/structure/BaseHead.astro";
import CookieConsent from "../components/structure/CookieConsent.astro";
import Footer from "../components/structure/Footer.astro";
import Navbar from "../components/structure/Navbar.astro";

interface Props {
  title?: string;
  description?: string;
  lang?: string;
  url?: string;
  image?: string;
}

const {
  title = "My Site",
  description = "A short description of the site.",
  lang = "en",
  url = "/",
  image = "/og.png",
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="h-full">
  <BaseHead title={title} description={description} />

  <body class="min-h-full font-sans antialiased bg-background text-text">
    <CookieConsent />
    <Navbar />
    <a
      class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 bg-white px-3 py-2 rounded shadow"
      href="#content">Skip to content</a
    >

    <main id="content" class="max-w-6xl mx-auto px-8 py-8">
      <slot />
    </main>

    <slot name="scripts" />
    <Footer />
  </body>
</html>
<script>
  // Smooth Scrolling with Lenis
  import Lenis from "lenis";

  if (!window.lenis) {
    window.lenis = new Lenis({
      duration: 1.2,
      easing: (t: number) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
      smoothWheel: true,
    });

    function raf(time: number) {
      window.lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);
  }

  document.addEventListener("astro:before-swap", () => {
    window.lenis.stop();
  });

  document.addEventListener("astro:page-load", () => {
    window.lenis.start();

    window.lenis.resize();
  });
</script>
