---
import { Github, Layers, ArrowUpRight, Signal } from "@lucide/astro";

import Card from "../DS/Card.astro";
import Heading from "../DS/Heading.astro";
import Text from "../DS/Text.astro";
import SectionHeading from "../SectionHeading.astro";
import PageSection from "../Structure/PageSection.astro";

const projects = [
  {
    title: "Trading Engine",
    description:
      "Trading engine to mimic real-world stock trading. With an aim to learn concurrency and some backend patterns.",
    tech: ["React", "Next.js", "Golang", "TypeScript"],
    repoUrl: "https://github.com/Nevnet99/trade-engine",
    status: "building", // 'online' | 'building' | 'offline'
  },
  {
    title: "Astro Portfolio",
    description:
      "My personal portfolio website built with Astro, showcasing my projects and blog posts.",
    tech: ["Astro", "TypeScript", "Tailwind"],
    repoUrl: "https://github.com/Nevnet99/lukebrannagan2026",
    status: "building",
  },
];
---

<PageSection>
  <SectionHeading
    >personal-projects
    <Layers slot="icon" size={20} class="text-text/60" />
  </SectionHeading>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <Card interactive padding="md">
          <Heading renderAs="h3">{project.title}</Heading>
          <Text>{project.description}</Text>

          <div slot="footer" class="flex justify-between">
            <a href={project.repoUrl} target="_blank" rel="noopener noreferrer">
              View Source
            </a>
            <ArrowUpRight />
          </div>
        </Card>
      ))
    }

    <div
      class="border border-dashed border-text/20 bg-background/30 p-6 flex flex-col items-center justify-center text-center opacity-50 hover:opacity-100 transition-opacity"
    >
      <div
        class="w-12 h-12 border border-text/20 rounded-full flex items-center justify-center mb-4"
      >
        <span class="text-2xl">+</span>
      </div>
      <h3 class="font-bold text-sm">Next Project</h3>
      <p class="text-xs text-text/50 mt-1">Architecture in progress...</p>
    </div>
  </div>
</PageSection>
